@keyframes pulse {
    from {
        background: #000;
    }
    25% {
        background-color: #003;
    }
    50% {
        background-color: #030;
    }
    to {
        background: #000;
    }
}

#space {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2000px;
    height: 2000px;
    background: #000;
    color: rgba(0, 0, 0, 0);
    animation-name: pulse;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
}

#fog,
#fog-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2000px;
    height: 2000px;
    margin-top: -1000px;
    margin-left: -1000px;
    opacity: .5;
    background: url(/static/images/fog.png) repeat-x 0 center;
    animation-name: fogAnimation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#fog-2 {
    opacity: 1;
    animation-duration: 120s;
}

@keyframes fogAnimation {
    from {
        transform: rotate(0deg);
        background-position: 0 center;
    }
    to {
        transform: rotate(360deg);
        background-position: 1000px center;
    }
}

#glow {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    margin: -400px 0 0 -400px;
    background: url(/static/images/glow.png) repeat-x 0 0;
    animation-name: glowAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes glowAnimation {
    from {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    to {
        opacity: 1;
    }
}

#light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    margin: -400px 0 0 -400px;
    background: url(/static/images/light.png) no-repeat center center;
    animation-name: lightAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lightAnimation {
    from {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    to {
        opacity: .25;
    }
}

#stars,
#stars-2,
#small-stars,
#small-stars-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin: -300px 0 0 -300px;
    background: url(/static/images/stars-large.png) no-repeat center center;
    animation-name: starsLarge;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes starsLarge {
    from {
        transform: rotate(0deg) scale(3);
        opacity: .1;
    }
    to {
        transform: rotate(360deg) scale(.5);
        opacity: 0;
    }
}

#stars-2 {
    animation-name: starsLargeAlt;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes starsLargeAlt {
    from {
        transform: rotate(180deg) scale(3);
        opacity: .25;
    }
    to {
        transform: rotate(360deg) scale(.5);
        opacity: 0;
    }
}

#small-stars,
#small-stars-2 {
    background: url(/static/images/stars-small.png) no-repeat center center;
    animation-duration: 15s;
    animation-name: starsSmall;
}

#small-stars-2 {
    animation-name: starsSmallAlt;
    animation-duration: 30s;
}

@keyframes starsSmall {
    from {
        transform: rotate(360deg) scale(3);
        opacity: .25;
    }
    to {
        transform: rotate(0deg) scale(.5);
        opacity: 0;
    }
}

@keyframes starsSmallAlt {
    from {
        transform: rotate(0deg) scale(3);
        opacity: .1;
    }
    to {
        transform: rotate(360deg) scale(.5);
        opacity: 0;
    }
}