/*----------------------------------------
 * Images
 *----------------------------------------*/
.parallax {
    position: relative!important;
    background-attachment: fixed!important;
    background-position: 50% 50%!important;
    background-size: cover!important;
}