@each $name, $color in $colors {
    .overlay-#{$name}{
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            z-index: -1;
            background-color: $color;
            opacity: 0.9;
        }
    }
}