/*----------------------------------------
 * Wrappers
 *----------------------------------------*/
@each $name, $wrapper in $wrappers {
    .#{$name}{
        max-width: $wrapper;
        margin-left: auto;
        margin-right: auto;
    }
}