/*----------------------------------------
 * Crypto Page
 *----------------------------------------*/
#crypto {
    display: grid;
    grid-template-areas:
            "header header header"
            "content content content"
            "sidebar sidebar sidebar"
            "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $standardDivider;
    padding: $smallDivider;
    max-width: $wrapperWidth;
    margin: 0 auto;

    > * > .segment {
        margin: 0;
    }

    #site-header {
        grid-area: header;
        margin-bottom: 0;
    }

    #crypto-content {
        grid-area: content;
        @include divideChildren($standardDivider);
    }

    #crypto-sidebar {
        grid-area: sidebar;
        @include divideChildren($standardDivider);
    }

    #site-footer {
        grid-area: footer;
        margin-top: 0;
    }

    .loader {
        position: absolute;
        left: calc(50% - 60px);
    }

    .loader-small {
        position: static;
        margin: 0 auto;
    }
}

@media (min-width: $mediaMedium) {
    #crypto {
        grid-template-areas:
                "header header header"
                "content content sidebar"
                "footer footer footer";

        #crypto-content {
            #crypto-trade {
                h2 {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: $mediaSmall) {
    #crypto {
        padding: 0 $standardDivider;
    }
}