/*----------------------------------------
 * Crypto Page
 *----------------------------------------*/
.crypto {
    display: grid;
    grid-template-areas:
            "content content content"
            "sidebar sidebar sidebar";
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $divider2;
    padding: $divider3;
    max-width: $wrapper;
    margin: 0 auto;

    > * > .segment {
        margin: 0;
    }
    #crypto-content {
        grid-area: content;
        @include divideChildren($divider2);
    }

    #crypto-sidebar {
        grid-area: sidebar;
        @include divideChildren($divider2);
    }
}

@media (min-width: $mediaMedium) {
    .crypto {
        grid-template-areas:
                "content content sidebar";

        #crypto-content {
            #crypto-trade {
                h2 {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (min-width: $mediaSmall) {
    .crypto {
        padding: 0 $divider2;
    }
}