/*----------------------------------------
 * Global
 *----------------------------------------*/
body {
    background-color: $gray;
}

body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: $primaryFont;
}

.ui {
    font-family: $primaryFont!important;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    @include standardHoverEffect();

    &:hover {
        color: darken($primary, 10%);
    }
}