/*----------------------------------------
 * Page title
 *----------------------------------------*/
.page-title {
    margin-top: $divider4;
    margin-bottom: $divider4;
    padding-bottom: $divider4/2;
    border-bottom: 1px solid #ddd;
    font-size: $h1*1.25;
    text-align: center;
}