/*----------------------------------------
 * Page title
 *----------------------------------------*/
.page-title {
    margin-top: $xSmallDivider;
    margin-bottom: $xSmallDivider;
    padding-bottom: $xSmallDivider/2;
    border-bottom: 1px solid #ddd;
    font-size: $headingLarge*1.25;
    text-align: center;
}