/*----------------------------------------
 * Sortable Table
 *----------------------------------------*/
.ui.sortable-table {
    text-align: center;

    .ui.button {
        padding: 10px;
        font-size: .9em;

        a:hover {
            color: inherit;
        }
    }

    th {
        &.sortable:after {
            @include uiTableIcon($sortableIcon);
            color: darken($uiThColor, 25%);
        }

        &.no-sort {
            cursor: default!important;

            &:hover {
                background-color: $uiThColor!important;
            }
        }
    }

    td {
        font-size: 1.15em!important;
    }

    img {
        vertical-align: middle;
    }

    .loader,
    .loader-small {
        margin: 0 auto;
    }

    .flash-cell {
        animation-duration: 3s;
        animation-fill-mode: both;
        display: block;
        width: 90%;
        margin: 0 auto;
        border-radius: 5px;
        padding: $divider4/2 0;

        &.color-uiRed:after {
            @include uiTableIcon($caretDownIcon);
        }

        &.color-uiGreen:after {
            @include uiTableIcon($caretUpIcon);
        }
    }

    .flash-cell--red {
        @extend .flash-cell;
        animation-name: flash-red-cell;
    }

    .flash-cell--green {
        @extend .flash-cell;
        animation-name: flash-green-cell;
    }
}

@keyframes flash-red-cell {
    @include flashCell($uiRed, $white, $uiRed);
}

@keyframes flash-green-cell {
    @include flashCell($uiGreen, $white, $uiGreen);
}

@media (max-width: $mediaXSmall){
    .ui.sortable-table {
        .ui.button {
            padding: 6px;
            font-size: .8em;
        }

        td {
            font-size: 1em !important;
        }
    }
}