@mixin icon($icon){
    font-family: $iconFont;
    content: $icon!important;
    cursor: pointer;
}

@mixin uiTableIcon($icon){
    font-family: $iconFont;
    content: $icon!important;
    display: inline-block!important;
    height: 1em;
    width: auto;
    margin: 0 0 0 .5em;
}

@mixin semanticAttribute($class, $attribute, $value){
    #{$class}{
        #{$attribute}: #{$value};
    }

    .ui {
        &#{$class},
        #{$class}{
            #{$attribute}: #{$value}!important;
        }
    }
}

//----------------------------------------------
// Effects
//----------------------------------------------
@mixin standardHoverEffect(){
    transition: .3s ease-out;
}