@mixin icon($icon){
    font-family: $iconFont;
    content: $icon!important;
    cursor: pointer;
}

@mixin uiTableIcon($icon){
    font-family: $iconFont;
    content: $icon!important;
    display: inline-block!important;
    height: 1em;
    width: auto;
    margin: 0 0 0 .5em;
}

@mixin semanticAttribute($class, $attribute, $value){
    #{$class}{
        #{$attribute}: #{$value};
    }

    .ui {
        &#{$class},
        #{$class}{
            #{$attribute}: #{$value}!important;
        }
    }
}

@mixin divideChildren($divider){
    > * {
        margin-bottom: $divider;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    &.ui > * {
        margin-bottom: $divider!important;
    }

    &.ui > *:last-child {
        margin-bottom: 0!important;
    }
}

//----------------------------------------------
// Effects
//----------------------------------------------
@mixin standardHoverEffect(){
    transition: all .3s ease-out;
}

@mixin flashCell($backgroundColor, $color, $endColor){
    0% {
        background-color: transparentize($backgroundColor, 1);
        color: darken($color, 100%);
    }

    10% {
        background-color: $backgroundColor;
        color: $color;
    }

    90% {
        background-color: $backgroundColor;
        color: $color;
    }

    100% {
        background-color: transparentize($backgroundColor, 1);
        color: $endColor;
    }
}