//----------------------------------------------
// 1.0 Colors
//----------------------------------------------
$primary   : #2185d0;
$secondary : #1b1c1d;
$white     : #ffffff;
$black     : #000000;
$gray      : rgba(0,0,0,.03);
$darkGray  : #888;

//1.1 Semantic UI Colors
$uiBlue    : #2185d0;
$uiIndigo  : #6610f2;
$uiPurple  : #a333c8;
$uiPink    : #e03997;
$uiRed     : #db2828;
$uiOrange  : #cf590c;
$uiYellow  : #cd9903;
$uiOlive   : #b5cc18;
$uiGreen   : #198f35;
$uiTeal    : #00b5ad;
$uiGray    : #767676;
$uiBrown   : #a5673f;
$uiViolet  : #6435c9;
$uiBlack   : #1b1c1d;
$uiThColor : #f9fafb;

//1.2 Color maps
$darkColors: (
    (primary   $primary)
    (secondary $secondary)
    (black     $black)
    (uiBlue    $uiBlue)
    (uiYellow  $uiYellow)
    (uiOrange  $uiOrange)
    (uiTeal    $uiTeal)
    (uiRed     $uiRed)
    (uiGreen   $uiGreen)
    (uiGray    $uiGray)
    (uiPink    $uiPink)
    (uiPurple  $uiPurple)
    (uiIndigo  $uiIndigo)
    (uiBrown   $uiBrown)
    (uiOlive   $uiOlive)
    (uiViolet  $uiViolet)
    (uiBlack   $uiBlack)
);

$lightColors: (
    (white $white)
    (light-gray $gray)
);

$colors: join($darkColors, $lightColors);

//----------------------------------------------
// 2.0 Fonts
//----------------------------------------------
$iconFont: Icons;
$primaryFont: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$secondaryFont: 'Montserrat', sans-serif;

//----------------------------------------------
// 3.0 Icons
//----------------------------------------------
$mobileMenuIcon: "\f039";
$sortableIcon: "\f0dc";
$caretDownIcon: "\f0d7";
$caretUpIcon: "\f0d8";

//----------------------------------------------
// 4.0 Site Variables
//----------------------------------------------
//4.1 Headings
$display1: 6rem;
$display2: 5rem;
$display3: 4rem;
$display4: 3rem;
$h1: 2rem;
$h2: 2rem;
$h3: 1.5rem;
$h4: 1.25rem;
$h5: 1.125rem;
$h6: 1rem;

$headings: (
    display-1 : $display1,
    display-2 : $display2,
    display-3 : $display3,
    display-4 : $display4,
    h1        : $h1,
    h2        : $h2,
    h3        : $h3,
    h4        : $h4,
    h5        : $h5,
    h6        : $h6
);

//4.2 Wrappers
$wrapper : 1200px;
$wrapper2: 992px;
$wrapper3: 768px;
$wrapper4: 576px;

$wrappers: (
    (wrapper   $wrapper)
    (wrapper-1 $wrapper)
    (wrapper-2 $wrapper2)
    (wrapper-3 $wrapper3)
    (wrapper-4 $wrapper4)
);

//4.3 Dividers
$divider1: 2em;
$divider2: 1.5em;
$divider3: 1em;
$divider4: 0.5em;
$divider5: 75px;

$dividers: (
    (divider-1 $divider1)
    (divider-2 $divider2)
    (divider-3 $divider3)
    (divider-4 $divider4)
    (divider-5 $divider5)
);

//----------------------------------------------
// 5.0 Media Queries
//----------------------------------------------
// $mediaLarge   - 1200px
// $mediaMedium  - 992px
// $mediaSmall   - 768px
// $mediaXSmall  - 576px
// $mediaXXSmall - 436px
//----------------------------------------------
$mediaLarge   : 1200px;
$mediaMedium  : 992px;
$mediaSmall   : 768px;
$mediaXSmall  : 576px;
$mediaXXSmall : 0;

$mediaQueries: (
    (lg  $mediaLarge)
    (md  $mediaMedium)
    (sm  $mediaSmall)
    (xs  $mediaXSmall)
    (xxs $mediaXXSmall)
);